*{
 margin: 5px; 
    box-sizing: border-box;
    height: 
}
body{
  background-color: black; 
    font-family: sans-serif;
    text-align: center;
    display: flex;
    font-size: 21px;
    flex-direction: column;
    height: 95vh;
    color: white;
    
     
}

header{
   background-color: black;
    padding: 2em 0 2em 0;
    border: px solid orange;
    padding: .1rem;
}
.left{
   background-color: black;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
    border: 1px solid orange;
    padding: .1rem;
}
.right{
  background-color: black;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
    border: 8px solid orange;
    padding: .1rem;
    font-family:cursive;
}

main{
 background-color: black;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
    border: 8px solid orange;
    padding: .1rem;
}

footer{
  background-color: black;
    padding: 1em 0 1em 0;
    border: 8px solid orange;
    padding: .1rem;
}
.container{
display: flex;
    flex: 1;
    
}
@media all and (max-width: 550px){
    .container{
       flex-direction: column;   
    }
    main{
        padding: 5em 0 5em 0;
    }
    
}

li{
  padding: 2em 0 2em 0;
    border: 1px solid orange;
    padding: .1rem;   
    
}

p{
   color: black;
    font-family: fantasy
}

nav{
  background-color: black;
    padding: 2em 0 2em 0;
    border: 8px solid white;
    padding: .1rem; 
    
    
}

li1 a {
  color: azure;
    font-family: fantasy;
    
    
}

li1 a:hover{
    background-color: aliceblue;
    color: aqua;
}

p a{
    
  color: deeppink;
}

p a:hover{
      background-color: deeppink;
    color: black;
    
}

.p4{
  font-family:sans-serif; 
}

